<div class="container-fluid px-4">
  <h1 class="mt-4">Dashboard</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">Toplam İstemci Sayısı <br> <b>3</b></div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-white stretched-link" routerLink="/client">Detayları Görüntüle</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">Aktif İstemci Sayısı<br> <b>1</b></div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-white stretched-link" routerLink="/client">Detayları Görüntüle</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card bg-secondary text-white mb-4">
        <div class="card-body">Toplam ITA kullanıcısı<br> <b>1</b> </div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-white stretched-link" routerLink="/user">Detayları Görüntüle</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
