<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <ng-container *ngFor="let head of this.sidebarMenu">
            <div class="sb-sidenav-menu-heading">
              {{ head.label }}
            </div>
            <ng-container *ngFor="let item of head.items">
              <a
                class="nav-link"
                [routerLink]="item.link"
                routerLinkActive="active"
              >
                <div class="sb-nav-link-icon">
                  <i [class]="'bi bi-' + item.icon"></i>
                </div>
                {{ item.label }}
              </a>
            </ng-container>
          </ng-container>
          <!--  -->
          <!-- <div class="sb-sidenav-menu-heading">Core</div>
          <a class="nav-link" href="index.html">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Dashboard
          </a> -->
          <!--  -->
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Deniz
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <router-outlet />
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
