<div class="modal-header">İstemci Ekle</div>
<form [formGroup]="clientForm" (ngSubmit)="send()" *ngIf="!createdClient">
  <div class="modal-body">
    <div class="mb-3">
      <label for="name" class="form-label"> İstemci Adı </label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        required
      />
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Kaydet</button>
    <button class="btn btn-secondary" (click)="activeModal.close()">
      Kapat
    </button>
  </div>
</form>

<div class="modal-body" *ngIf="createdClient">
  <h3>İstemci Eklendi</h3>
  <div class="mb-3"><b>İsim:</b> {{ createdClient.name }}</div>
  <div class="mb-3"><b>Token:</b> {{ createdClient.token }}</div>
  <p>
    Token'ı istemciye girerek kaydı tamamlayabilirsiniz.
  </p>
</div>
<div class="modal-footer" *ngIf="createdClient">
  <button class="btn btn-secondary" (click)="activeModal.close()">Kapat</button>
</div>
