<div class="mt-3">
  <p-card header="Hesaplar">
    <p-table
      [value]="users"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">#</th>
          <th style="width: 25%">İsim</th>
          <th style="width: 25%">E-Posta</th>
          <th style="width: 25%">Oluşturma Tarihi</th>
          <th>İşlemler</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-users>
        <tr>
          <td>{{ users.id }}</td>
          <td>{{ users.name }}</td>
          <td>{{ users.email }}</td>
          <td>{{ users.createdAt }}</td>
          <td><button class="btn btn-warning rounded-circle"><i class="bi bi-pen"></i></button></td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
