<main>
  <div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center p-3">
      <div>
        <h2>İstemci Listesi</h2>
      </div>
      <div>
        <span class="badge bg-success me-2"
          >Toplam İstemci: {{ onlineClients | async }}</span
        >
        <button class="btn btn-primary" (click)="openCreateClientModal()">
          İstemci Ekle
        </button>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">İstemci Adı</th>
              <th scope="col">İşletim Sistemi</th>
              <th scope="col">IP</th>
              <th scope="col">Durumu</th>
              <th scope="col">Oluşturma Tarihi</th>
              <th scope="col">İşlemler</th>
            </tr>
          </thead>
          <tbody>
            @for (client of clients; track client.id) {
            <tr>
              <td>{{ client.id }}</td>
              <td>{{ client.name }}</td>
              <td>Ubuntu 22.04 (LTS) x64 {{ client.os }}</td>
              <td>192.168.1.10</td>
              <td><span class="badge bg-success">Aktif</span></td>
              <td>{{ client.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
              <td>
                <button
                  class="btn btn-secondary"
                  (click)="openDetailClientModal(client)"
                >
                  <i class="bi bi-sliders"></i>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
