<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" routerLink="/">ITA</a>
  <!-- Sidebar Toggle-->
  <button
    class="btn btn-link btn-lg order-1 order-lg-0 me-4 me-lg-0"
    id="sidebarToggle"
  >
    <i class="bi bi-list"></i>
  </button>
  <!-- Navbar-->

  <ul ngbDropdown class="navbar-nav ms-auto me-3 me-lg-4">
    <li class="nav-item dropdown">
      <a
        ngbDropdownToggle
        class="nav-link dropdown-toggle"
        id="navbarDropdown"
        role="button"
        ><i class="bi bi-person-circle"></i
      ></a>
      <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
        <li ngbDropdownItem><a class="dropdown-item">Settings</a></li>
        <li ngbDropdownItem><a class="dropdown-item">Activity Log</a></li>
        <li ngbDropdownItem><hr class="dropdown-divider" /></li>
        <li ngbDropdownItem><button (click)="this.authService.logout()" class="dropdown-item">Logout</button></li>
      </ul>
    </li>
  </ul>
</nav>
